* {
	margin: 0;
	text-decoration: none;
	font-family: "Fredoka", sans-serif;
	text-decoration: none;
}
a {
	color: white;
}
html {
	scroll-behavior: smooth;
	background-color: black;

	/* font-size: 62.5%; */
	/* This automatically sets the fon'r size tp 10px
	so you can use "rem" at 1rem for 10px, 5.5rem for 55px etc
	/* It helps keep the user's font size preference  */
}

body {
	color: #e9e9e9;
	overflow-x: hidden;
	/* margin: 5px; */
}
#OpeningParallexImage {
	background-image: linear-gradient(
			rgba(14, 5, 5, 0.486),
			rgba(0, 0, 0, 0.486)
		),
		url("img/pizza.jpg");
	height: 70vh;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation: myanime 20s infinite;
	display: grid;
	place-items: center;
	border-bottom-right-radius: .875rem;;
	border-bottom-left-radius: .875rem;;
}

header {
	width: inherit;
	height: auto;
	background-color: #e82d00;
	/* border-top-left-radius: 7px;
	border-top-right-radius: 7px; */
	padding: 1.4em;
	z-index: 10;
}

section {
	height: 77vh;
	padding: 25px;
	margin: 0 auto;
}
/* ------------------------------ */
/* NAVIGATION ------------------- */
/* ------------------------------ */

/* Main Navi */
header h2 {
	display: inline-block;
}
/* A clearfix to fix the overflow of the mobile nav */
header::after{
	content: '';
	display: table;
	clear: both;
}
.logo {
	height: 50px;
	width: auto;
	float: left;
	margin: -13px 7px;
}

.profile-picture {
	height: 50px;
	width: 50px;
	float: right;
	margin: -13px 7px;
	border-radius: 50%;
}

nav {
	list-style: none;
	margin-top: 7px;
	float: right;
	display: inline-table;
}

nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-ul li a:link,
.main-ul li a:visited {
	text-transform: uppercase;
	font: 90%;
	transition: border-bottom 0.2s;
	padding: 4px 0;
	color: antiquewhite;
}

.main-ul li a:hover,
.main-ul li a:active {
	border-bottom: 2px solid #e4a804;
}

/* Sticky Navi */
.sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 2px 2px #e4a80483;
	z-index: 5;
	/* display: none; */
}

/* .sticky .main-ul {
	margin-top: 20px;
}

.sticky .logo {
	display: block;
	height: 55px;
	width: auto;
	float: left;
	margin: 7px 10px;
} */

/* Mobile Navi */
.mobile-nav-icon {
	float: right;
	cursor: pointer;
	display: none;
	font-size: 160%;
	display: none;
	margin-left: 15px;
}
.cart::before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-right: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}


/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {
	.mobile-nav-icon {
		display: inline-block;
	}

	.main-nav {
		display: none;
	}

	.main-nav li a {
		display: block;
		margin: 4px;
		border: 0;
	}

	.address-request input,
.search-request input,
.login-request input  {
	max-width: 250px;
	}
}


/* --------------------- */
/* --------------------- */

.address-request{
	/* .search-request { */
	/* position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%); */
	background-color: #e82e009d;
	border-radius: 10px;
	padding: 30px;
}

.search-request {
	color: #e4a804;
	margin-bottom: 15px;
}
.search-request ::placeholder {
	color: #e4a804;
}
.address-request input,
.search-request input,
.login-request input  {
	height: 20px;
	width: 20rem;
	max-width: 200px;
	padding: 0.875rem 1rem;
	margin-top: 10px;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #e4a804;
	outline-style: none;
	color: #e4a804;
}

::placeholder {
	color: white;
}

/* --------------------- */
/* Menu Display--------- */
/* --------------------- */
.menu-page{
	height: auto;
}
.menu-item {
	min-height: 200px;
	max-height: 285px;
	/* height: 250px; */
	width: 130px;
	background-color: #c1c1c1;
	padding: 10px;
	/* overflow: hidden; */
	border-radius: 15px;
	box-shadow: 1px 1px 10px #e4e4e4;
	color: black;
	text-align: center;
	margin: 2rem;
	float: left;
}

.menu-image {
	/* box-shadow: 1px 1px 20px #e4e3e1; */
	/* background-color: #e4a804; */
	height: 120px;
	width: 120px;
	margin: 12px auto;
	border-radius: inherit;
	overflow: hidden;
	display: inline-block;
}

.menu-image img {
	height: inherit;
	width: auto;
	border-radius: inherit;
}
.meal-price {
	display: inline-block;
	margin: 10px auto;
	/* color: #e4a804; */
	font-size: 110%;
}
.menu-about {
	margin-bottom: 10px;
}

.container{
	margin: 0 auto;
	text-align: center;
	height: 43.5vh;
	/* overflow-y: scroll; */
	display: flex;
	justify-content: center; align-items: center;
	padding:.2rem;
}

.center-con{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popular-dishes {
	text-align: center;
	padding: 50px;
	padding-top: 10px;
	background-color: #000000;
	height: 40vh;
	overflow-y: scroll;
	margin: 0.875rem;
	border-radius: .875rem;
	/* display: flex;
	justify-content: center; align-items: center; */
	/* box-shadow: 1px 1px 5px #e4e4e4; */

	padding: 40px;
	padding-top: 10px;
	background-color: #000000;

	padding: 50px;
	padding-top: 30px;
	/* background-color: #000000; */
	/* height: 45vh; */
	margin: 0.875rem;
	border-radius: .875rem;
	box-shadow: 1px 1px 5px rgb(228, 168, 4);

}

.popular-dishes .menu-item {
	/* padding-top: 0px; */
	display: inline-block;
	width: 220px;
	box-shadow: none;
	
}

.popular-dishes .menu-image {
	margin-top: 0;
	height: 130px;
	width: 100%;
	border-radius: inherit;
}


.btn-add, .btn-fav {
	/* display: flex; */
	justify-content: center;
	padding-top: 3px;
	margin-left: 0.5em;
	/* border-radius: 10px; */
	font-size: 130%;
	transition: font-size .5s;
	color: black;

}

.btn-add:hover,
.btn-fav:hover{
	/* font-size: 150%; */
	color:rgb(228, 168, 4);
	
}

.image-background {	
	background-image: url('img/bg2.png') ;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;
}


/* ------------------------------- */
/* SIGN UP AND LOG IN PAGE----------------- */

.hover-tab{
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	background-color: #e82e009d;
	width:70%;
	margin: 5% 3%;
	border-radius: 1.25rem;
}
/* Style tab links */
.tablink {
	background-color: #222;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	/* font-size: 17px; */
	width: 50%;
}

.admin .tablink {

	width: 100%;

}
.tablink:hover {
	color: #e4a804;
}

.active {
	background-color: initial;
	
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	/* color: white; */
	display: none;
	padding: 1.2em;
	min-height: 40vh;
	margin: 5%;
	border-radius: 50%;
	transition: display 22s;
}

.success-msg {
    padding-top: 10px;
	color: #176701;
	text-align: center;
}

/* .error{
	border: 1px solid #000000;
	border-radius: 1.25rem;
	padding: 10px;
	color: purple;
	text-align: center;
	background-color: #fff;
} */
/* ------------------------------------- */
/* LOGIN */
/* ------------------------------------- */
.login-request input {
	display: block;
	width: 60%;
	margin-bottom: 3rem;
}
        
button {
	background-color: #e4a804;
	color: white;
	padding: 20px 20px;
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
	color: #000000;
}




/* ------------------------------------- */
/* FOOTER */
/* ------------------------------------- */
footer {
	background-color: #2a2a2a;
padding: 30px;
	font-size: 85%;
	/* border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px; */
	color: rgb(228, 168, 4);
}

.footer-nav {
	float: left;
	list-style: none;
}
.social-icon {
	float: right;
	list-style: none;
	color: #e4a804;
}

.footer-nav li,
.social-icon li {
	display: inline-block;
	margin: 8px;
}

footer p {
	font-size: 100%;
	text-align: center;
	margin-top: 10px;
}

/* Animation for the Opening Parallex Image */
@keyframes myanime {
	0% {
		background-image: linear-gradient
				(rgba(14, 5, 5, 0.486), rgba(0, 0, 0, 0.486)),
			url("img/pizza.jpg");
	}
	33% {
		background-image: linear-gradient(
				rgba(14, 5, 5, 0.486),
				rgba(0, 0, 0, 0.486)
			),
			url("img/brownies.jpg");
	}
	66% {
		background-image: linear-gradient(
				rgba(14, 5, 5, 0.486),
				rgba(0, 0, 0, 0.486)
			),
			url("img/feast.jpg");
	}
	100% {
		background-image: linear-gradient(
				rgba(14, 5, 5, 0.486),
				rgba(0, 0, 0, 0.486)
			),
			url("img/burger.jpg");
	}
}

/* Fade in Animation */
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

::-webkit-scrollbar-track
{
	/* box-shadow: inset 0 0 6px rgba(	0,0,0,0.6); */
	background-color: inherit;
	padding: 0px 2px;
	border-bottom-right-radius: .875rem;
	border-top-right-radius: .875rem;
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-thumb
{
	background-image: -webkit-linear-gradient(90deg,
											  rgb(228, 168, 4) 25%,
											  transparent 100%,
											  rgb(228, 168, 4) 75%,
											  transparent);
	border-radius: 10px;
}

/* Admin */
.col-4{
	width: 15%;
	margin: 1%;
	background-color:#2a2a2a;
	padding: 2%;
	float: left;
}
.text-center{
	text-align: center;
}
.dash-fix{
	float: none;
	clear: both;
}
.tbl-full{
	width: 100%;
}
table tr th{
	border-bottom:1px solid #c1c1c1;
	padding: 1%;
	text-align: left;
}
table tr td{
	padding: 1%; 
}
.btn-admin{
	background-color: #e4a804;	
	padding: 1%;
	font-weight: bold;
}
.btn-admin:hover{
	background-color: orange;
}
.btn-delete{
	background-color: #e82d00;
	padding: 1%;
	font-weight: bold;
	width: 50%;
}
.no-hover button:hover{
	background-color: #75040483;
}

.tbl-full tr td:hover {background-color:wheat;
	color: #000000;
}

.tbl-full tr td:nth-child(5)  { background-color:transparent; }
.btn-new{
	color: #000000;
	background-color:wheat;
	padding: 1%;
	font-weight: bold;
	width: 50%;
}
.nav li a{color:white;
	margin-top:5px;}
.nav li a.shortname{
background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  padding: 8px 0px 0px 14px;

}
.sidebar{
background-color: #6c757d!important;
  height: 92.4vh !important;
  /* position: absolute; */
  margin-left: -15px;
  height: 92.4vh;
  /* position: absolute; */
  margin-left: -15px;
  min-height: 100%;
  position: fixed;
  left: 0px;
  width: 16%;
}
.sidebar .sidebar-list{
position: absolute;
  top: 8%;
  left: 40px;
}
.sidebar .navbar-nav li a{
color: white;
  border-bottom: 1px solid #959696;
}
.form{
width: 79%;
  border: 1px solid lightgray;
  padding: 40px;
}
#alertBox{
display: none;
  position: absolute;
  left: 26%;
  top: 58px;
  z-index: 99;
 
 
}
.content-box{
width: 98%;
  border: 1px solid lightgray;
  padding: 40px;
}
#alertBox .success{
box-shadow: 0px 0px 15px #00000042;
  
  color: white;
  background: green;
  padding: 10px 5px;
  font-size: 15px;
}
#alertBox .fail{
 box-shadow: 0px 0px 15px #00000042;
color: white;
  background: red;
  padding: 10px 5px;
  font-size: 15px;
}

#confirmBox{
position: fixed;
  left: 40%;
  top: 100px;
  background: white;
  box-shadow: 0px 0px 15px #0000003b;
  z-index: 99;
  padding: 11px;
  width: 30%;
  text-align: center;
  height: 150px;
  display: none;
}
#confirmBox p{
color: #dc3545;
  font-size: 20px;
  position: relative;
  top: 15px
}
#confirmBox button{
border: 0px;
  margin: 30px;
  padding: 2px 30px;
  background: #dc3545;
  color: white;
}
#hide i{
  font-size: 25px; margin: 10px 0px
}
.description li a{
  padding: 0px 0px;
  margin: 0px;
  color: #ffc0c6;
  border-bottom: 0px !important;
}
.sidebar-list i {
font-size: 15px;
}
.sidebar .description.navbar-nav li a{
 color: #cccccc;
 position: relative;
  left: -5px;
  margin-bottom: 8px;
}
label::after{
  color: #ffffff !important;
  background-color: #dc3545 !important;
}
.accordion-content .description {
 
  color: #4f4f4f;
  cursor: pointer;
  padding: 5px 5px 5px 25px;
  max-width: 100%;
  outline: none;
  font-size: 14px;
  margin: 4px 0px;
  position: relative;}
.accordion-content .description p {
 margin:0px;
 color:gray;}
.accordion-content .title {
 margin: 10px 0px;
  font-weight: normal;
 
  padding: 0px 0px;
  cursor: pointer;
  font-size: 15px;
  color: white;}
  .accordion-content {
  color: white;
  border-bottom: 1px solid #959696;
  position: relative;
  }
.accordion-content.show .description{
display:block;}
.accordion-content.hide .description{
display:none;}
.accordion-content.hide .title::after{
content: " ";
 
 
  padding: 0px 0px;
  font-size: 22px;
 
  font-size: 19px;
  font-weight: normal;
  /* float: right; */
 position: absolute;
  top: 6px;
  right: -47px;}
.accordion-content.show .title::after{
content: "  ";
 
  
  padding: 0px 0px;
  font-size: 22px;

  font-size: 19px;
  font-weight: normal;

 position: absolute;
  top: 6px;
  right: -47px;}